<html>
<head>
	<title>Cross-Site Scripting (XSS)</title>
</head>
<body>

	<!-- A simple form that when submitted will navigate back to the same page -->
	<form action="" method="GET">
		<!-- Adds `?q=VALUE` to the URL when the form is submitted -->
		<input type="text" name="q">
		<input type="submit" value="Search">
	</form>

	<!-- The results of the search are inserted here -->
	<div id="results">
        <div>Resultados para: $search$</div>
        <div>
            $results$
        </div>
    </div>
</body>
</html>